* { 
    margin: 0; 
    padding: 0; 
    box-sizing: 
    border-box; 
}
        
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6; 
    background: #ffffff; 
}

 /* --- Navigation --- */
        
 nav {
    position: sticky;
    top: 0;
    background: #ffffff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    z-index: 1000;
    border-bottom: #212C61 solid 2px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-links { 
    display: flex; 
    list-style: none; 
}

.nav-links li {
    margin-left: 20px; 
}

.nav-links a {
    color: #000000; 
    text-decoration: none; 
    font-weight: 500; 
}

.hamburger {
    display: none; 
    cursor: pointer; 
    font-size: 1.8rem; 
}

/* --- Main Layout --- */
        
.container {
    display: grid;
    grid-template-columns: 1fr 350px; /* Left column fluid, right fixed */
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 20px;
}

/* --- Left Section (Bio/Skills) --- */

.content-left section {
    margin-bottom: 2rem;
}

hr {
    border: 1px solid #000000;
    margin: 1rem 0rem 1rem 0rem;
}

p {
    margin: 1rem 0rem 1rem 0rem;
}

/* --- Right Section (Projects) --- */
        
.sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project-card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background: #ddd; /* Placeholder color */
}

.project-info { padding: 1rem; }

.project-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.project-date {
    font-weight: 400;
    color: #666;
    font-size: 0.9rem;
}

@media (max-width: 992px) {
    .container { 
        grid-template-columns: 1fr;
    }

    .sidebar-right { 
        order: 2;
    }
    
    .content-left { 
        order: 1;
    }
}

@media (max-width: 768px) {
            
    .nav-links {
        display: none;
    }
    
    .hamburger {
        display: block; 
    }
}